<app-banner></app-banner>
<div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="logIn" data-backdrop="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Login</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="form-group">
              <input type="nombreUsuario" class="form-control" id="nombreUsuario" placeholder="Usuario" [(ngModel)]="nombreUsuario" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" placeholder="Contraseña" [(ngModel)]="password" required>
            </div>
            <button type="button" class="btn btn-info btn-block btn-round" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


  